.numberBtn, #inputBtn, #cancelBtn {
	width : 50px;
	height : 50px;
}
.btn {
	width : 120px;
	hegith : 25px;
}
.answerInput {
	width : 50px;
	height : 50px;
	font-size: 30px;
	text-align: center;
	background-color: gray;
	color: white;
}
.checkBtn {
	background-color: black;
	color: white;
}
#giveUpBtn {
	width : 160px;
	height : 50px;
}